In [2]:
import numpy as np

In [3]:
import pandas as pd

In [56]:
art_test = pd.read_csv('Pandas Test File.csv')

/Users/artemaswang/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7,10,18,19,20,21,23,30,31,32,33) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [49]:
art_test

,YearStart,YearEnd,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,DataValue,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
LocationAbbr,,,,,,,,,,,,,,,,,,,,,
US,2016,2016,United States,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,16.9,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
AL,2016,2016,Alabama,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,13,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
AK,2016,2016,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,18.2,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
AZ,2016,2016,Arizona,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,15.6,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
AR,2016,2016,Arkansas,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,15,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
FL,2015,2015,Florida,YRBSS,Tobacco,Current smokeless tobacco use among youth,NaN,%,Crude Prevalence,NaN,...,12,TOB,TOB2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
HI,2015,2015,Hawaii,YRBSS,Tobacco,Current smokeless tobacco use among youth,NaN,%,Crude Prevalence,NaN,...,15,TOB,TOB2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
VI,2015,2015,Virgin Islands,YRBSS,Tobacco,Current smokeless tobacco use among youth,NaN,%,Crude Prevalence,NaN,...,78,TOB,TOB2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
VT,2015,2015,Vermont,YRBSS,Tobacco,Current smokeless tobacco use among youth,NaN,%,Crude Prevalence,NaN,...,50,TOB,TOB2_1,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
NM,2013,2013,New Mexico,ACS 1-Year Estimates,Disability,Disability among adults aged >= 65 years,NaN,%,Crude Prevalence,NaN,...,35,DIS,DIS1_0,CRDPREV,RACE,BLK,NaN,NaN,NaN,NaN

In [57]:
art_test['LocationAbbr'] = art_test['LocationAbbr'].astype(object)

In [12]:
art_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 519718 entries, 0 to 519717
Data columns (total 34 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   YearStart                  519718 non-null  int64
 1   YearEnd                    519718 non-null  int64
 2   LocationAbbr               519718 non-null  object
 3   LocationDesc               519718 non-null  object
 4   DataSource                 519718 non-null  object
 5   Topic                      519718 non-null  object
 6   Question                   519718 non-null  object
 7   Response                   79188 non-null   object
 8   DataValueUnit              476046 non-null  object
 9   DataValueType              519718 non-null  object
 10  DataValue                  374564 non-null  object
 11  DataValueAlt               350335 non-null  float64
 12  DataValueFootnoteSymbol    227318 non-null  object
 13  DatavalueFootnote          227152 non-null  object
 14  LowConfidenceLimit         311062 non-null  float64
 15  HighConfidenceLimit        311062 non-null  float64
 16  StratificationCategory1    519718 non-null  object
 17  Stratification1            519718 non-null  object
 18  StratificationCategory2    79188 non-null   object
 19  Stratification2            79188 non-null   object
 20  StratificationCategory3    79188 non-null   object
 21  Stratification3            79188 non-null   object
 22  GeoLocation                516115 non-null  object
 23  ResponseID                 79176 non-null   object
 24  LocationID                 519718 non-null  int64
 25  TopicID                    519718 non-null  object
 26  QuestionID                 519718 non-null  object
 27  DataValueTypeID            519718 non-null  object
 28  StratificationCategoryID1  519718 non-null  object
 29  StratificationID1          519718 non-null  object
 30  StratificationCategoryID2  79189 non-null   object
 31  StratificationID2          79189 non-null   object
 32  StratificationCategoryID3  79188 non-null   object
 33  StratificationID3          79188 non-null   object
dtypes: float64(3), int64(3), object(28)
memory usage: 134.8+ MB

In [58]:
art_test.head()

,YearStart,YearEnd,LocationAbbr,LocationDesc,DataSource,Topic,Question,Response,DataValueUnit,DataValueType,...,LocationID,TopicID,QuestionID,DataValueTypeID,StratificationCategoryID1,StratificationID1,StratificationCategoryID2,StratificationID2,StratificationCategoryID3,StratificationID3
0,2016,2016,US,United States,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,59,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
1,2016,2016,AL,Alabama,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,1,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
2,2016,2016,AK,Alaska,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,2,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
3,2016,2016,AZ,Arizona,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,4,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN
4,2016,2016,AR,Arkansas,BRFSS,Alcohol,Binge drinking prevalence among adults aged >=...,NaN,%,Crude Prevalence,...,5,ALC,ALC2_2,CRDPREV,OVERALL,OVR,NaN,NaN,NaN,NaN

In [66]:
selected_columns = art_test[['YearStart','YearEnd','LocationDesc','Topic','Question']]

In [67]:
selected_columns.tail()

,YearStart,YearEnd,LocationDesc,Topic,Question
519713,2015,2015,Florida,Tobacco,Current smokeless tobacco use among youth
519714,2015,2015,Hawaii,Tobacco,Current smokeless tobacco use among youth
519715,2015,2015,Virgin Islands,Tobacco,Current smokeless tobacco use among youth
519716,2015,2015,Vermont,Tobacco,Current smokeless tobacco use among youth
519717,2013,2013,New Mexico,Disability,Disability among adults aged >= 65 years

In [68]:
selected_years = selected_columns[selected_columns['YearEnd'] == 2013]

In [70]:
selected_years.iloc[80000:80005,]

,YearStart,YearEnd,LocationDesc,Topic,Question
395658,2013,2013,North Carolina,Tobacco,Pneumococcal vaccination among noninstitutiona...
395659,2013,2013,North Carolina,Tobacco,Pneumococcal vaccination among noninstitutiona...
395660,2013,2013,North Carolina,Tobacco,Pneumococcal vaccination among noninstitutiona...
395661,2013,2013,North Carolina,Tobacco,Pneumococcal vaccination among noninstitutiona...
395662,2013,2013,North Dakota,Tobacco,Pneumococcal vaccination among noninstitutiona...

In [74]:
selected_years.loc[selected_years['Topic'] == 'Asthma']

,YearStart,YearEnd,LocationDesc,Topic,Question
124723,2013,2013,Vermont,Asthma,Hospitalizations for asthma
124724,2013,2013,Vermont,Asthma,Hospitalizations for asthma
124725,2013,2013,Vermont,Asthma,Hospitalizations for asthma
124726,2013,2013,Vermont,Asthma,Hospitalizations for asthma
124727,2013,2013,Vermont,Asthma,Hospitalizations for asthma
...,...,...,...,...,...
518146,2013,2013,Vermont,Overarching Conditions,High school completion among adults aged 18-24...
518201,2013,2013,Vermont,Overarching Conditions,High school completion among adults aged 18-24...
519165,2013,2013,Vermont,Disability,Disability among adults aged >= 65 years
519166,2013,2013,Vermont,Disability,Disability among adults aged >= 65 years
519167,2013,2013,Vermont,Disability,Disability among adults aged >= 65 years

In [103]:
# selets two conditions
artemas = selected_columns.loc[(selected_columns['YearStart'] == 2015) & 
                               (selected_columns['LocationDesc'] == 'California') &
                               (selected_columns['Topic'] == 'Asthma') | 
                               (selected_columns['YearStart'] == 2013) & 
                               (selected_columns['LocationDesc'] == 'New York') &
                               (selected_columns['Topic'] == 'Alcohol')]

In [105]:
artemas.tail()

,YearStart,YearEnd,LocationDesc,Topic,Question
512078,2013,2013,New York,Alcohol,Heavy drinking among women aged 18-44 years
512133,2013,2013,New York,Alcohol,Heavy drinking among women aged 18-44 years
512187,2013,2013,New York,Alcohol,Heavy drinking among women aged 18-44 years
512243,2013,2013,New York,Alcohol,Heavy drinking among women aged 18-44 years
512297,2013,2013,New York,Alcohol,Heavy drinking among women aged 18-44 years